<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      BeFit
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar> -->
  </ion-header>
  <ion-col style="  display: flex;
  justify-content: center;margin-top: 5px;">
  <ion-button size="small" color="secondary">Recomendado</ion-button>
  <ion-button size="small" color="secondary">Lo más popular</ion-button>
  <ion-button size="small" color="secondary">Por calorias</ion-button>
  </ion-col>
  <ion-row>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★✩✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★★✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
</ion-row>
<ion-row>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★✩✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★★✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
</ion-row>
<ion-row>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★★✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★★★</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
</ion-row>
<ion-row>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★★✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
  <ion-card style="width:40%">
    <img src="../../assets/cuadro.png" />
    <ion-card-header>
      <ion-card-subtitle>Comida <br> ★★★✩✩</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content> -->
  </ion-card>
</ion-row>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
