<app-header></app-header>

<ion-content class="ion-padding">
  <ion-grid>  
    <ion-row class="ion-align-items-center">
      <ion-col class="Banner">
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text color="light">
          <h2>Jalón o polea al pecho</h2>
          <ion-item-divider class="MyDivider">
          </ion-item-divider>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="Video">
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text color="light">
          <ion-icon name="heart"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-text color="light">
          <h3>Principiante</h3>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-text color="light">
          <ion-icon name="add-circle"></ion-icon>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-no-margin ion-no-padding ion-text-center">
        <ion-item-divider class="MyDivider"></ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <ion-text color="light">
          <h4>Máquina de poleas</h4>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-text color="light">
          <h4>Espalda</h4>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-no-margin ion-no-padding ion-text-center">
        <ion-item-divider class="MyDivider"></ion-item-divider>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-text color="light">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col class="">
        <ion-text class="ion-text-justify" color="light">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="PasosEjercicio" size="2">
        <ion-text color="light">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col class="PasosEjercicio">
        <ion-text class="ion-text-justify" color="light">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="PasosEjercicio" size="2">
        <ion-text color="light">
          <ion-icon name="arrow-down"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col class="PasosEjercicio">
        <ion-text class="ion-text-justify" color="light">
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim </p>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-margin-top">
        <ion-text color="light">
          <h2>Músculos implicados</h2>
          <ion-item-divider class="MyDivider">
          </ion-item-divider>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-margin-top">
      <ion-col class="BackgroundEjercicio">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-img src="../../../assets/Imagenes/Dorsales.jpg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-center" color="dark">
              <h5>Dorsales</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-no-margin ion-no-padding ion-text-center">
            <ion-item-divider color="medium" class="MyDivider"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-left" color="dark">
              <h5>Exigencia:</h5>
            </ion-text>
          </ion-col>
          <ion-col class="Musculo">
            <ion-text class="ion-text-right" color="dark">
              <h6>Alta</h6>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>


      <ion-col class="BackgroundEjercicio">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-img src="../../../assets/Imagenes/Biceps.jpg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-center" color="dark">
              <h5>Biceps</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-no-margin ion-no-padding ion-text-center">
            <ion-item-divider color="medium" class="MyDivider"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-left" color="dark">
              <h5>Exigencia:</h5>
            </ion-text>
          </ion-col>
          <ion-col class="Musculo">
            <ion-text class="ion-text-right" color="dark">
              <h6>Moderada</h6>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>



      <ion-col class="BackgroundEjercicio">
        <ion-row class="ion-align-items-center">
          <ion-col>
            <ion-img src="../../../assets/Imagenes/Hombro.jpg"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-center" color="dark">
              <h5>Hombros</h5>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="ion-no-margin ion-no-padding ion-text-center">
            <ion-item-divider color="medium" class="MyDivider"></ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
          <ion-col class="Musculo">
            <ion-text class="ion-text-left" color="dark">
              <h5>Exigencia:</h5>
            </ion-text>
          </ion-col>
          <ion-col class="Musculo">
            <ion-text class="ion-text-right" color="dark">
              <h6>Baja</h6>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
